h1,
h2,
h3,
h4,
h5,
h6,
p,
.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6,
.subtitle1,
.subtitle2,
.body1,
.body2,
.caption {
  font-family: var(--font-family);
  margin-top: 0;
}

h1,
.heading1 {
  font-weight: 600;
  font-size: var(--heading1);
  line-height: 1.167;
  letter-spacing: -0.01562em;
  margin-bottom: 0.35em;
  color: var(--title);
}

h2,
.heading2 {
  font-weight: 600;
  font-size: var(--heading2);
  line-height: 1.2;
  letter-spacing: -0.00833em;
  margin-bottom: 0.35em;
  color: var(--title);
}

h3,
.heading3 {
  font-weight: 600;
  font-size: var(--heading3);
  line-height: 1.167;
  letter-spacing: 0em;
  margin-bottom: 0.35em;
  color: var(--title);
}

h4,
.heading4 {
  font-weight: 600;
  font-size: var(--heading4);
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-bottom: 0.35em;
  color: var(--title);
}

h5,
.heading5 {
  font-weight: 600;
  font-size: var(--heading5);
  line-height: 1.334;
  letter-spacing: 0em;
  margin-bottom: 0.35em;
  color: var(--title);
}

h6,
.heading6 {
  font-weight: 600;
  font-size: var(--heading6);
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin-bottom: 0.35em;
  color: var(--title);
}

.subtitle1 {
  font-weight: 600;
  font-size: var(--subtitle1);
  line-height: 1.75;
  letter-spacing: 0.00938em;
  margin-bottom: 0.35em;
  color: var(--title);
}

.subtitle2 {
  font-weight: 600;
  font-size: var(--subtitle2);
  line-height: 1.57;
  letter-spacing: 0.00714em;
  margin-bottom: 0.35em;
  color: var(--title);
}

p,
.body1 {
  font-weight: 500;
  font-size: var(--body1);
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin: 0 0 0.35em 0;
  color: var(--text);
}

.body2 {
  font-weight: 500;
  font-size: var(--body2);
  line-height: 1.43;
  letter-spacing: 0.01071em;
  margin: 0 0 0.35em 0;
  color: var(--text);
}

.caption {
  font-weight: 500;
  font-size: var(--caption);
  line-height: 1.66;
  letter-spacing: 0.03333em;
  margin: 0 0 0.35em 0;
  display: block;
  color: var(--text);
}

.no-margin {
  margin-bottom: 0;
}

.ellipsis,
.clip {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
}

.clip {
  text-overflow: clip;
}

.lines {
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--justify {
  text-align: justify;
}

.text--primary {
  color: var(--primary);
}

.text--secondary {
  color: var(--text-secondary);
}
